.days {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    background-color: #fff;
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
    border-radius: 0 0 20px 20px;
}
.card {
    display: flex;
    flex-direction: column;
    background-color: rgba(71, 147, 255, .2);
    border-radius: 10px;
    padding: 10px;
    width: 149px;
    transition: .3s;
    cursor: pointer;
}
.card:hover {
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.5);
}
.card .day {
    margin: 0 0 7px 0;
    font-size: 18px;
}
.card .day__date {
    font-size: 14px;
    margin: 0 0 12px 0;
    color:rgba(180, 180, 180);
}
.card .img {
    margin: 0 0 12px 0;
}
.card .temp__day {
    font-size: 18px;
}
.card .temp__night {
    font-size: 13px;
    color:rgba(180, 180, 180);
    margin: 0 0 6px 0;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 7px 0;
}
.cancel, 
.tab {
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
    padding: 9px 20px;
    margin: 0 15px 0 0;
    background-color: #fff;
    color: #333;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.tab {
    margin: 0 15px 0 0;
}
.tab:active {
    background-color: #4793ff;
    color: #fff;
}
.tabs__wrapper {
    display: flex;
}